/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body {
  text-align: center;
  margin: 1em;
  font: 0.7em "Press start 2P";
  font-weight: 200;
  background: rgb(3,56,136);
background: linear-gradient(90deg, rgba(3,56,136,1) 0%, rgba(255,255,255,1) 100%);

}
header {
  margin-bottom: 5em;
  margin: 30px;
}

* {
  box-sizing: border-box;
}
div {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  padding: .4em 1.3em;
}
hr {
  height: 10px;
  visibility: hidden;
}
@mixin step1( $width, $color ) {
  box-shadow: 
    $width 0 $color, 
    -$width 0 $color,
    0 (-$width) $color, 
    0 $width $color;
  margin: $width auto;
}

main {
  border-style: solid;
  border-radius: 2em;
  outline: none;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

form {
  border-top: solid;
  border-width: 2px;
  
}

.radio {
  border: none;
  text-align: left;
  margin:10px;
}
.question-answer {
  margin: 8px;
}

#submitQuestion-button {
  float: right;
  background-color: rgb(179, 140, 255);
  padding: 0.8em;
  border-radius: 6px;
}
