/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 5em;
  margin: 30px;
}

h2{
  font-size: 13px;
}
h1{
  font-size: 20px;
}
p{
  font-size: 11px;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;

  text-align: center;
  height: 100%;
  font: 0.7em "Press start 2P";
  font-weight: 200;
  line-height: 1.6;
  background: linear-gradient(90deg, rgba(3,56,136,1) 0%, rgba(255,255,255,1) 100%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  border-style: solid;
  border-radius: 2em;
  border-width: 2px;
  height: 50%;
  outline: none;
  width: 90%;
  padding:10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.quiz-explanation{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  height: 100%;
  margin: 0;
  padding: 0;
}

form {
  border-top: solid;
  border-width: 2px;
}

.radio {
  border: none;
  text-align: left;
  font-size: 11px;
}
.question-answer {
  margin: 8px;
}

#submitQuestion-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.purple-button {
  background-color: rgb(179, 140, 255);
  padding: 0.8em;
  border-radius: 6px;
}

@media (min-width: 700px) {
  h1{font-size: 25px;}
  h2{font-size: 15px;}
  p{font-size: 12px;}
  .radio{font-size: 13px;}
  main{max-width: 75%;}
}
@media (min-width: 1024px) {
  h1{font-size: 30px;}
  h2{font-size: 20px;}
  p{font-size: 13px;}
  .radio{font-size: 15px;}
  main{max-width: 75%;}
}